{% extends "acasa.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Adauga animal</title>
    {% endblock %}
</head>
<body>
{% block content  %}
    <div style="margin: 10%">
        <form class="was-validated" action="#" method="post" >
            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for = "alege_client">Nume Client:</label>
                    <select class="custom-select" id="alege_client" name="alege_client" required>
                        <option selected="">Alege..</option>
                        {% for client in clienti %}
                            <option value="{{ client["id_client"] }}">{{ client["nume"] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="nume">Nume</label>
                    <input name="nume" type="text" class="form-control is-valid" id="nume" value="Max" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="tip">tip</label>
                    <input name="tip" type="text" class="form-control is-valid" id="tip" value="specie_animal" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="sex">Sex</label>
                    <input name="sex" type="text" class="form-control is-valid" id="sex" value="m/f" >
                </div>


            </div>

            <br>
            <button class="btn btn-dark" type="submit">Inregistreaza</button>

        </form>
    </div>
{% endblock %}
</body>
</html>